@charset "utf-8";

/* 에러페이지 */
.errorPageWrap {
	display: table;
	width: 100%;
	height: 100vh;
	text-align: center;
}

.errorPageWrap .pageWrap {
	display: table-cell;
	vertical-align: middle;
}

.errorPageWrap .pageWrap .title {
	font-size: 28px;
	color: #333;
	font-weight: 700;
	padding-top: 126px;
	background: url(../images/common/img_error_page.png) no-repeat 50% 0;
	margin-bottom: 20px;
}

.errorPageWrap .pageWrap .detail {
	font-size: 16px;
	line-height: 28px;
	color: #666;
}

.errorPageWrap .pageWrap .btnWrap {
	margin-top: 40px;
}

.errorPageWrap .pageWrap .btnWrap .prev {
	background: #6a6a6a;
}

/* login */
.bgWrap {
	background: #f5f6f7;
	min-height: 100vh;
	position: relative;
}

.loginWrap {
	text-align: center;
	max-width: 580px;
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	margin: auto;
	transform: translateY(-50%);
}

.loginWrap .title {
	font-size: 34px;
	line-height: 1em;
	font-weight: 700;
	color: #2a2a2a;
	padding-top: 56px;
	background: url(../images/common/login_logo.png) no-repeat 50% 0;
	margin-bottom: 29px;
}

.loginWrap .inputWrap input {
	padding: 0 20px;
	height: 60px;
	line-height: 60px;
}

.loginWrap .inputWrap ~.inputWrap {
	margin-top: 8px;
}

.loginWrap .login {
	display: block;
	height: 70px;
	line-height: 70px;
	color: #fff;
	font-weight: 700;
	background: #f68e14;
	font-size: 17px;
	margin: 20px 0 66px;
	box-shadow: 1px 5px 9px 3px rgba(0, 0, 0, .1);
}

.loginWrap .notice {
	font-size: 15px;
	color: #777;
}

/* tree menu */
.treeMenuWrap {
	position: relative;
	border-right: 1px solid #e8e8e8;
	margin-right: 30px;
	min-height: calc(360px - 83px);
	padding-right: 15px;
	box-sizing: border-box;
}

.treeMenuWrap .menuList {
	height: 480px;
	overflow-y: scroll;
}

.treeMenuWrap .menuList>ul {
	position: relative;
	overflow: hidden;
}

.treeMenuWrap .menuList>ul:before {
	content: '';
	position: absolute;
	top: 20px;
	left: 0;
	height: calc(100% - 45px);
	border-right: 1px dashed #d9d9d9;
	display: block;
	width: 7px;
	background: #fff;
	z-index: 1;
}

.treeMenuWrap .menuList li a {
	font-size: 15px;
	font-weight: 500;
	color: #555;
	display: block;
	padding-left: 23px;
	position: relative;
	margin-bottom: 15px;
}

.treeMenuWrap .menuList li a:before {
	content: '';
	position: absolute;
	top: 3px;
	left: 0;
	width: 15px;
	height: 15px;
	background: url(../images/common/ico_tree.png) no-repeat 0 0;
}

.treeMenuWrap .menuList li a:after {
	content: '';
	position: absolute;
	top: 11px;
	left: -100%;
	width: 100%;
	border-bottom: 1px dashed #d9d9d9;
	display: block;
}

.treeMenuWrap .menuList li a.on:before {
	background: url(../images/common/ico_tree_on.png) no-repeat 0 0;
}

.treeMenuWrap .menuList li ul {
	padding-left: 23px;
}

.treeMenuWrap .menuList .treeDepth li .last {
	padding-left: 20px;
}

.treeMenuWrap .menuList .treeDepth li .last:before {
	width: 4px;
	height: 4px;
	background: #777 !important;
	top: 9px;
	border-left: 8px solid #fff;
}

.treeMenuWrap .menuList .treeDepth li .last.active {
	color: #000;
	text-decoration: underline;
}

.treeMenuWrap .menuList .treeDepth {
	display: none;
}

.treeMenuWrap .menuBtnWrap {
	position: absolute;
	top: 4.5px;
	right: 15px;
	font-size: 0;
}

.treeMenuWrap .menuBtnWrap a {
	width: 15px;
	height: 15px;
	display: inline-block;
}

.treeMenuWrap .menuBtnWrap a.open {
	background: url(../images/common/ico_tree.png) no-repeat 0 0;
}

.treeMenuWrap .menuBtnWrap a.close {
	background: url(../images/common/ico_tree_on.png) no-repeat 0 0;
}

.treeMenuWrap .menuBtnWrap a ~a {
	margin-left: 5px;
}

/* 권한관리 */
.roleScrollWrap {
	overflow-y: auto;
	max-height: 400px;
}

.permissionList {
	border-radius: 5px;
	border: 1px solid #e8e8e8;
}

.permissionList li {
	border-bottom: 1px solid #f2f3f5;
	padding: 0 15px;
}

.permissionList li:last-child {
	border-bottom: 0;
}

.permissionList li .listWrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 49px;
}

.permissionList li .listWrap .manager {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 46%;
}

.permissionList li .listWrap .manager .name {
	word-break: break-all;
	color: #555;
	display: inline-block;
	vertical-align: middle;
}

.permissionList li .listWrap .manager .num {
	color: #fff;
	background: #8591ab;
	border-radius: 3px;
	font-size: 11px;
	line-height: 16px;
	font-weight: 700;
	padding: 0 5px;
	display: inline-block;
	vertical-align: middle;
}

.permissionList li .listWrap .btn {
	width: 38px;
	height: 23px;
	background: #6f7787;
	border-radius: 3px;
	font-size: 12px;
	line-height: 23px !important;
	font-weight: 700;
}

.permissionList li:hover {
	background: #f6f7f8;
	position: relative;
}

.permissionList li:hover .listWrap .manager .name {
	font-weight: 700;
	color: #111;
}

.permissionList li:hover .listWrap .btn {
	background: #f68e14;
}

.permissionList li:hover:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 4px;
	height: 100%;
	background: #f68e14;
}

/* 사이트관리 */
table tbody td .useY {
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	border-radius: 100%;
	background: #222222;
	color: #fff;
	font-size: 13px;
}

table tbody td .useN {
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 23px;
	border-radius: 100%;
	background: #fff;
	color: #9e9e9e;
	border: 1px solid #b3b3b3;
	box-sizing: border-box;
	font-size: 13px;
}

table tbody td .http {
	align-self: center;
	margin-right: 10px;
}

table tbody td input+.part, table tbody td select+.part {
	/*width: 10%;*/
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
	text-align: center;
	color: #555;
	align-self: center;
}

table.cursor tbody tr:hover {
	cursor: pointer;
}