<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- SqlSession setup for MyBatis Database Layer -->
	<bean id="cmsSqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="cmsDataSource" />
		<property name="configLocation" value="classpath:/kr/co/idasystem/framework/resource/sqlmap/mapper-config.xml" />
		<property name="mapperLocations">
			<list>
				<value>classpath:/kr/co/idasystem/framework/resource/sqlmap/${Globals.DbType}/**/*.xml
				</value>
				<value>classpath:/kr/co/idasystem/service/cms/resource/sqlmap/${Globals.DbType}/**/*.xml
				</value>
			</list>
		</property>
	</bean>

	<!-- Mybatis Session Template -->
	<bean id="cmsSqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="cmsSqlSession" />
	</bean>

</beans>