/* 공통 */
.sitemap .sitemap_wrap_en li {width: calc(100% / 4);}
.sitemap .sitemap_wrap_en li p.on, .sitemap .sitemap_wrap_en li h2.on , .sitemap .sitemap_wrap_en li .depth_list.on { padding-bottom: 0; opacity: 1; }
/* .container_en {font-family: 'NS';} */
.container_en .sub_visual .sub_visual_menu .depth {width: 33rem;}
@media screen and (max-width:767px) {
    .sitemap .sitemap_wrap_en li { width:100%; float: none; text-align: unset; background: none; display: flex; align-items: center; flex-wrap: wrap; transition:all ease .6s; border-bottom: .1rem solid #e8e8e8; overflow: hidden; }
    .sitemap .sitemap_wrap_en li p.on, .sitemap .sitemap_wrap_en li h2.on , .sitemap .sitemap_wrap_en li .depth_list.on { opacity: 1; }
    .sitemap .sitemap_wrap li .depth_list:last-of-type { padding-bottom: 4rem; }
    .container_en .sub_visual .sub_visual_menu .depth {width: calc(100% - 5rem);} 
}

/* ----- 메인 ----- */

@media screen and (max-width:767px) {

}

/* ----- 투자정보 ----- */
/* 공시/공고 */
.cont_invest_en .contents_inner .disclosure_banner > .btn_goDart {width: 37rem;}
@media screen and (max-width:767px) {
    .cont_invest_en .contents_inner .disclosure_banner > .btn_goDart {width: calc(100% - 4rem);padding: 0 2rem;}
}

/* ----- 지속가능경영 ----- */
.cont_sustain_en .SC_sub_con .inner .section1 .sc_obj > div .sc_obj_box li:not(:first-child) {padding-left: 2rem;}
.cont_sustain_en .SC_sub_con .inner .section1 .sc_obj > div .sc_obj_box li:nth-child(2) {padding-left: 2rem;}
.cont_sustain_en .SC_sub_con .inner .section1 .sc_obj > div .sc_obj_box li:nth-child(3) {padding-left: 2rem;}



/* 안전보건 */
.cont_sustain_en .sub_con .inner section:not(.section1) {margin: 10rem 0 0;}
.cont_sustain_en .sub_con .inner .section2 > div:not(.shm_sub_tit) p span {display: block;position: initial;}
.cont_sustain_en .sub_con .inner .section2 > div:not(.shm_sub_tit) p span > br {display: none;}
.cont_sustain_en .sub_con .inner .section4 ul .shm_circle > div p:last-child {font-size: 1.6rem;line-height: normal;padding: 0 2rem;}

/* 공정거래자율준수 */
.cont_sustain_en .cp_contents .cp_wrap .section4 .s_con > ol > li {flex: 1;}
/* .cont_sustain_en .cp_contents .cp_wrap .section4 .s_con > ol > li:not(:last-child) {margin-right: 5rem;} */
.cont_sustain_en .cp_contents .cp_wrap .section4 .s_con > ol > li .icon {text-align: center;}


@media screen and (max-width:767px) {
    .cont_sustain_en .SC_sub_con .inner .section1 .sc_obj > div .sc_obj_box li:not(:first-child) {padding-left: 1rem;}
    .cont_sustain_en .SC_sub_con .inner .section1 .sc_obj > div .sc_obj_box li:nth-child(2) {padding-left: 1rem;}
    .cont_sustain_en .SC_sub_con .inner .section1 .sc_obj > div .sc_obj_box li:nth-child(3) {padding-left: 0;}
    
    /* 안전보건 */
    .cont_sustain_en .sub_con .inner section:not(.section1) {margin: 0;}
    .cont_sustain_en .sub_con .inner .section2 > div:not(.shm_sub_tit) ul li span:last-of-type {width: 10rem;flex-shrink: 0;margin-right: 0;}
    .cont_sustain_en .sub_con .inner .section2 .shm_sub_con .fix_str2 span:after {width: calc(100% - 22rem);margin-left: 1rem;}
    .cont_sustain_en .sub_con .inner .safety_intro .section3 .shm_sub_con ul li p {padding-left: 0;}
    .cont_sustain_en .sub_con .inner .section4 ul {margin-left: 1rem;}
    .cont_sustain_en .sub_con .inner .section4 ul .shm_circle > div p:last-child {font-size: 1.1rem;padding: 0;letter-spacing: -.055rem;}
    .cont_sustain_en .sub_con .inner section:not(.section1, .section4) > div:not(.shm_sub_tit) ul li span:first-of-type {margin-right: .6rem;}
    .cont_sustain_en .shm_circle.highlight > div p {font-size: 1.2rem;}

    .cont_sustain_en .sub_con .inner .section4 > div:not(.shm_sub_tit) > div.fix_str p span {padding: 0;}

    /* 윤리경영 */
    .cont_sustain_en .ethical_intro_wrap .section2 .s_con > ul > li > .icon_box > p {font-size: 1.2rem;top: 6rem;font-family: 'NS';}
    .cont_sustain_en .ethical_intro_wrap .section2 .s_con > ul > li > .txt_box li {margin-left: 1.5rem;}

    /* 공정거래자율준수 */
    .cont_sustain_en .cp_contents .cp_wrap .section2 .s_con > .txt_green:after {width: calc(100% - 19rem);}
    .cont_sustain_en .cp_contents .cp_wrap .section4 .s_con > .txt_green:first-of-type:after {width: calc(100% - 25rem);}
    .cont_sustain_en .cp_contents .cp_wrap .section4 .s_con > .txt_green:nth-of-type(2):after {width: calc(100% - 14rem);}
    .cont_sustain_en .cp_contents .cp_wrap .section4 .s_con > ol {padding-left: 0;}
    .cont_sustain_en .cp_contents .cp_wrap .section4 .s_con > ol > li {width: 33%; flex: initial; margin-right: 0;}
    .cont_sustain_en .cp_contents .cp_wrap .section4 .s_con > ol > li:not(:last-child) {margin-right: 0;}
    .cont_sustain_en .cp_contents .cp_wrap .section4 .s_con > ol > li .icon:after {right: 0;}
    /* 
    .cont_sustain_en .cp_contents .cp_wrap .section4 .s_con > ol > li:not(:last-child) {margin-right: 10vw;}
    .cont_sustain_en .cp_contents .cp_wrap .section4 .s_con > ol > li:nth-child(3n) { margin-right: 0; }
    .cont_sustain_en .cp_contents .cp_wrap .section4 .s_con > ol > li .icon:after {right: -8vw;} */
}